<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header', { title: 'Email Form' }) %>
    <title>Email Form</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
   
    <div class="container">
      <h2>Email</h2>
      <form action="/emailval" method="post">
        <div class="form-group">
          <label for="recipients">To (Separate by comma)</label>
          <input
          type="text"
          class="form-control with-cols" 
          id="recipients"
          name="recipients"
          placeholder="Recipients (comma-separated)"
        />
        <br>
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </div>
    <br><br><br><br><br>
    <div class="container">
      <% if(data) { %>
        <h1>Email Validation</h1>
        <br>
        <p>Validated Emails (Count: <%= data.count %>):</p>
        <ul>
          <% data.emails.forEach(email => { %>
            <li><%= email %></li>
          <% }); %>
        </ul>
      <% } else { %>
        <p>No data available.</p>
      <% } %>
    </div>
  </body>
</html>
